youtube-transcript-api
transformers
torch
pandas
scikit-learn
nltk                                                                                                                                                                                                                                                                                                                                                                                                                      